Source: tcl-xblt
Section: System
Priority: optional
Maintainer: Vladislav Zavjalov <vl.zavjalov@gmail.com>
Standards-Version: ${ver}

Package: tcl-xblt
Architecture: all
Description: tcl-xblt library from ROTA group
